<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><style>
     .tt{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ff0000;
    background: #ffffff;
    box-shadow: 0 0 50px #000000;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
     }
    </style>
</head>
<body>
   <div class="tt">
    <form method="POST" action="">
        <label for="">username</label><br>
        <input name="username" type="text"><br><br>
        <label for="">mobile</label><br>
        <input name="mobile" type="text"><br><br>
        <label for="">email</label><br>
        <input name="email" type="text"><br><br>
        <label for="">password</label><br>
        <input name="password" type="password"><br><br>
        <button>submit</button>
    </form>
</div> 
</body>
</html>